body {
    font-family: 'Inter', sans-serif;
    background-color: #f1f8f3;
    margin: 0;
    color: #333333;
}

.history-container{
     font-family: 'Inter', sans-serif;
    display:flex;
    flex-direction: row;
    min-height:100vh;
}

.history-nav {
    width: 265px;
    background-color: #2d6a4f;
    color: #fff;
   padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.nav-links a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #f0f4f8;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 0;
    transition: 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
    color: #fff;
    font-weight: bold;
}

.card {
    flex: 1;
    padding: 30px 50px;
    background-color: #f1f8f3;
}

.modal-header,.btn_close{
     font-family: 'Inter', sans-serif;
    background-color: #2d6a4f;
    color:white
}

.card_header{
     font-family: 'Inter', sans-serif;
     background-color:  #2d6a4f;;
    color:white;
    padding:15px 10px;
}


